/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
    padding: 30px 120px;
}

.error,
.loader,
.cat-info {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.breed-select {
    width: 300px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    margin: 0 auto 20px;
}

.cat-info img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cat-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cat-info p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.cat-info h2 {
    font-size: 16px;
    margin-bottom: 10px;
}